services:
    db:
        image: "mysql:8"
        volumes:
            - "database:/var/lib/mysql:rw,cached"
        ports:
            - "3306:3306"
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
            MYSQL_DATABASE: "sylius_dev"
    mail:
        image: "monsieurbiz/mailcatcher"
        ports:
            - "1080:1080"
            - "1025:1025"
volumes:
    database: {}
